In [87]:
import random
import datetime

In [88]:
def generate_transaction_id():  #거래 시마다 고유ID 생성
  while True:
    transaction_id = "".join(str(random.randint(0, 9)) for _ in range(9))
    if transaction_id not in transactions:
      return transaction_id
transactions = set()   #수정하면 안되는 고유ID이므로 Tuple을 사용

In [93]:
class Account:

  def __init__(self,name,balance):
    self.deposit_count = 0
    self.deposit_log = []
    self.withdraw_log = []

    self.name = name
    self.balance = balance
    self.bankname = "SC은행"

    num1 = random.randint(0,999)
    num2 = random.randint(0,99)
    num3 = random.randint(0,999999)

    num1 = str(num1).zfill(3) #0값을 채움
    num2 = str(num2).zfill(2)
    num3 = str(num3).zfill(6)
    self.account_number = num1 + '-' + num2 + '-' + num3

  def deposit(self,amount):
    if amount >= 1:
      current_time = datetime.datetime.now() #현재 시간 Get
      transaction_id = generate_transaction_id()
      self.deposit_log.append((amount, current_time, transaction_id)) #금액과 시간 저장
      self.balance += amount

      self.deposit_count += 1
      if self.deposit_count % 5 == 0:
        self.balance = (self.balance * 1.01)

  def withdraw(self,amount):
    if self.balance > amount:
      current_time = datetime.datetime.now() #현재 시간 Get
      transaction_id = generate_transaction_id()
      self.withdraw_log.append((amount,current_time, transaction_id)) #금액과 시간 저장
      self.balance -= amount

  def display_info(self):
    print("은행이름: ", self.bankname,)
    print("예금주: ", self.name)
    print("계좌번호: ", self.account_number)
    print("잔고: ", f"{self.balance:,}","원")

  def deposit_history(self):
    for amount, time, transaction_id in self.deposit_log:
      print(f"Deposited {amount} at {time} (Transaction ID: {transaction_id})")

  def withdraw_history(self):
    for amount, time, transaction_id in self.withdraw_log:
      print(f"Withdrew {amount} at {time} (Transaction ID: {transaction_id})")

  def all_history(self):
    print("입금내역: "),self.deposit_history()
    print("출금내역: "),self.withdraw_history()

  def transfer(self, amount, recipient_account):  #타계좌로 이체하는 기능
    if self.balance >= amount:
      try:
        recipient_account.deposit(amount)
        self.withdraw(amount)
        print("이체 완료!")
      except AttributeError:
          print("입금자 계좌번호를 확인해주세요")
    else:
      print("잔액이 부족합니다.")

lee = Account('파이썬',100)

In [94]:
print(lee.name)
print(lee.balance)
print(lee.bankname)
print(lee.account_number)

파이썬
100
SC은행
628-60-381133

In [95]:
lee.deposit(100)
lee.deposit(200)
lee.deposit(200)
lee.deposit(200)
lee.deposit(200)

print(lee.balance)

1010.0

In [97]:
lee.deposit_history()

Deposited 100 at 2024-01-08 05:42:44.240640 (Transaction ID: 070199695)
Deposited 200 at 2024-01-08 05:42:44.240723 (Transaction ID: 516387998)
Deposited 200 at 2024-01-08 05:42:44.240767 (Transaction ID: 879979724)
Deposited 200 at 2024-01-08 05:42:44.240807 (Transaction ID: 849698444)
Deposited 200 at 2024-01-08 05:42:44.240843 (Transaction ID: 090775387)

In [98]:
lee.withdraw(500)
lee.withdraw(10)
lee.withdraw(5)
lee.withdraw(20)

print(lee.balance)

440.0

In [99]:
lee.withdraw_history()

Withdrew 500 at 2024-01-08 05:42:48.793558 (Transaction ID: 375266015)
Withdrew 10 at 2024-01-08 05:42:48.793674 (Transaction ID: 048046055)
Withdrew 5 at 2024-01-08 05:42:48.793753 (Transaction ID: 490315112)
Withdrew 20 at 2024-01-08 05:42:48.793826 (Transaction ID: 469530289)
Withdrew 10 at 2024-01-08 05:42:59.904199 (Transaction ID: 544668713)
Withdrew 5 at 2024-01-08 05:42:59.904275 (Transaction ID: 639093336)
Withdrew 20 at 2024-01-08 05:42:59.904316 (Transaction ID: 639245047)

In [100]:
lee.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  628-60-381133
잔고:  440.0 원

In [101]:
lee.all_history()

입금내역:
Deposited 100 at 2024-01-08 05:42:44.240640 (Transaction ID: 070199695)
Deposited 200 at 2024-01-08 05:42:44.240723 (Transaction ID: 516387998)
Deposited 200 at 2024-01-08 05:42:44.240767 (Transaction ID: 879979724)
Deposited 200 at 2024-01-08 05:42:44.240807 (Transaction ID: 849698444)
Deposited 200 at 2024-01-08 05:42:44.240843 (Transaction ID: 090775387)
출금내역:
Withdrew 500 at 2024-01-08 05:42:48.793558 (Transaction ID: 375266015)
Withdrew 10 at 2024-01-08 05:42:48.793674 (Transaction ID: 048046055)
Withdrew 5 at 2024-01-08 05:42:48.793753 (Transaction ID: 490315112)
Withdrew 20 at 2024-01-08 05:42:48.793826 (Transaction ID: 469530289)
Withdrew 10 at 2024-01-08 05:42:59.904199 (Transaction ID: 544668713)
Withdrew 5 at 2024-01-08 05:42:59.904275 (Transaction ID: 639093336)
Withdrew 20 at 2024-01-08 05:42:59.904316 (Transaction ID: 639245047)

In [102]:
account1 = Account("Alice", 1000)
account2 = Account("Bob", 500)

account1.transfer(200, account2)

이체 완료!

##회고 :

*배운점 :  

1)클래스의 기능들을 다시 한 번 리뷰했다  

2)zfill, set, f"{}", join, datetime 과 같은 새로운 기능을 배우고 활용할 수 있었다  


*아쉬운점:  

1)코드를 짜면서 새로운 명령어를 숙지할 필요가 있어 각자 찾아보는 시간이 필요했다  


*느낀점:  

1)동료와 함께 코드를 짜며 서로 아는 지식을 같이 쌓아가는 것이 좋았다